<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../assets/img/icon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
    <title>Inicio sesion</title>
</head>
<style>
  body{
      background: #e9ecef;
    }
  .login-card {
    width: 100%;
    max-width: 300px;
  }
</style>

<body> <!--mejoras de color-->

<div class="d-flex justify-content-center align-items-center min-vh-100 p-3">
  <div class="card login-card">
  <img src="../assets/img/images2.png" class="card-img-top" alt="Logo de Baer">
    <div class="card-body p-4">
      <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" requiered>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="exampleInputPassword1" required>
        </div>
        <div class="text-start mb-3"><!--modal recuperacion de contraseña-->
          <a href="#" class="text-decoration-none text-secondary" data-bs-toggle="modal" data-bs-target="#recoverModal" style="font-size: 0.9rem;">¿Olvidaste tu contraseña?</a>
        </div>
        <button type="submit" class="btn btn-primary w-100">Iniciar sesion</button>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" id="recoverModal" tabindex="-1" aria-labelledby="recoverModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="recoverModalLabel">Recuperar Contraseña</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="recoverForm">
                    <div class="modal-body">
                        <p>Ingresa tu correo para recuperar tu contraseña:</p>
                        <div class="mb-3">
                            <label for="recoverEmail" class="form-label">Correo electrónico</label>
                            <input type="email" class="form-control" id="recoverEmail" name="email" placeholder="ejemplo@correo.com" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
  </div>

  <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
          <div class="modal-content">
              <div class="modal-body">
                  <h5 class="modal-title text-center mb-2">¡Correo Enviado!</h5>
                  <p>Revisa tu bandeja de entrada para continuar con el proceso de recuperación.</p>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Aceptar</button>
                  </div>
              </div>
           </div>
      </div>
  </div>
  <!--modal error credenciales-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
    